{% extends 'base.html' %}
{% block title %} - {{post.title}}{% endblock %}

{% block content %}
<div class="mb-2">
  <div class="mb-2">
    <h2>{{post.title}}</h2>
    <span class="text-muted">{{post.str_date}}</span>
  </div>

  <p>{{post.content}}</p>
  <span class="text-muted fst-italic">By {{post.user.full_name}} {% if post.clean_last_edit %}<br>Last
    edited: {{post.clean_last_edit}} {% endif %}</span>
</div>
{% if post.tags %}
<div class="mb-2">
  <span class="h6 fw-bold">Tags:</h5></span>
  {% for tag in post.tags %}
  <a href="/tags/{{tag.name}}" class="p-0 btn btn-primary btn-sm fw-bold">{{tag.name}}</a>
  {% endfor %}
</div>
{% endif %}
<form>
  <button class="btn btn-outline-primary btn-sm" formmethod="GET" formaction="/users/{{post.user_id}}">Cancel</button>
  <button class="btn btn-primary btn-sm" formmethod="GET" formaction="/posts/{{post.id}}/edit">Edit</button>
  <button class="btn btn-danger btn-sm" formmethod="POST" formaction="/posts/{{post.id}}/delete">Delete</button>
</form>
{% endblock %}