{% extends 'base.html' %}
{% block title %}New Post{% endblock %}

{% block content %}

<h1>
  {% if type == 'new' %}
  Add Post for {{user.full_name}}
  {% elif type =='edit' %}
  Edit Post
  {% endif %}
</h1>

<div class="row">
  <form action="" class="col-4">
    <div class="mb-2">
      <label class="form-label" for="title">Title</label>
      <input name="title" id="title" class="form-control" type="text" placeholder="Enter a post title"
        value="{{post.title}}" />
    </div>
    <div class="mb-2">
      <label class="form-label" for="content">Post Content</label>
      <textarea name="content" id="content" class="form-control" placeholder="Enter your post content"
        rows="3">{{post.content}}</textarea>
    </div>
    <div class="float-end">
      <a href="/users/{{user.id}}" class="btn btn-outline-success btn-sm">Cancel </a>
      {% if type == 'new' %}
      <button class="btn btn-success btn-sm" formmethod="POST" formaction="/users/{{user.id}}/posts/new">Add</button>
      {% elif type =='edit' %}
      <button class="btn btn-success btn-sm" formmethod="POST" formaction="/posts/{{post.id}}/edit">Edit</button>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}